@font-face {
    font-family: fibre; 
    src: url(/fonts/fibre.otf);
}

@font-face {
    font-family: bobby;
    src: url(/fonts/bobby.otf);
}

#index-title {
  font-family: fibre;
  color: #bc1823;
  animation: 2s slide-left;
}

#index-subtitle {
    font-family: bobby;
    color: #212932;
    animation: 2s slide-right;
}

#our-white {
    color: #d9dfdb
}

#our-red {
  color: #bc1823;
}

/* Animation for Home Page */ 
@keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
}

/* Animation for Home Page */ 
@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
}

/* Animation on Our Tragedy Page */ 
@keyframes fadeIn {
    0% 
    { 
        opacity: 0; 
    }

    100% 
    { 
        opacity: 1; 
    }
}