* { 
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;   
}

/* Font for main titles on each page */ 
@font-face {
    font-family: fibre; 
    src: url(/fonts/fibre.otf); 
}

/* Font for everything else */ 
@font-face {
    font-family: bobby;
    src: url(/fonts/bobby.otf);
}

/* Prevents the page from overflowing/excessive scrolling left and right */ 
html, body {
    overflow-x: hidden; 
    height: 100%;
    width: 100%;
}

#title{
    font-family: fibre;
    color: #bc1823; 
    position: absolute;
    white-space: nowrap;
    animation: 2s slide-left;
}
#subtitle{
    font-family: bobby; 
    color: #212932; 
    position: absolute; 
    white-space: nowrap;
    animation: 2s slide-right;
}
#building{
    position: absolute; 
}

/* MEDIA QUERIES FOR RESPONSIVENESS AND SIZING */ 

@media (min-width: 992px) {
    #title {
        font-size: 7rem; 
        left: 22%; 
        top: 14%; 
    }
    #subtitle {        
        font-size: 2.2rem; 
        left: 19%; 
        top: 27%; 
    }    
    #building {
        height: 74%; 
        width: 74%; 
        z-index: -1; 
        left: 14%; 
        top: 28%; 
    }
}

@media (min-width: 1200px) {
    #title {
        font-size: 6rem; 
        left: 26%; 
        top: 16%; 
    }    
    #subtitle {
        font-size: 2.2rem; 
        left: 24%; 
        top: 30%; 
    }    
    #building {
        height: 72%; 
        width: 72%; 
        z-index: -1; 
        left: 14%; 
        top: 28%; 
    }
}

/* Macbook fits here */ 
@media (min-width: 1400px) {
    #title {
        font-size: 7.5rem; 
        left: 25%; 
        top: 14%; 
    }    
    #subtitle {
        font-size: 2.7rem; 
        left: 23%; 
        top: 30%; 
    }    
    #building {
        height: 70%; 
        width: 70%; 
        z-index: -1; 
        left: 14%;
        top: 30%;  
    }
}

@media (min-width: 1800px) {
    #title {
        font-size: 8rem; 
        left: 28%; 
        top: 14%; 
    }    
    #subtitle {
        font-size: 3rem; 
        left: 25%; 
        top: 30%; 
    }    
    #building {
        height: 72%; 
        width: 72%; 
        z-index: -1; 
        left: 13%; 
        top: 28%; 
    }
}

/* Title and subtitle animations */ 
@keyframes slide-left {
    from {
      margin-left: 100%;
    }
    to {
      margin-left: 0%;
    }
}

@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
}

section {
    background: url(images/building.png) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}
